body {
	width: 90%;
	font-size: 16px;
	text-align: center;
					 
}

main {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
						 "mid-left mid-mid mid-right"
						 "footer footer footer"	;
	justify-items: center;	
}

header {
	grid-area: header;
	background-color: orange;
	color: white;
}

#left {
	grid-area: left;
}

#mid {
	grid-area: mid;
}

#right {
	grid-area: right;
}