html {
    width: 100%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.25em;
}

header img {
    position: absolute;
    left: 1em;
    top: 0.5em;
    z-index: 1;
}

header {
    background-color: red;
    color: white;
    padding: 3em;
    
}

header h1 {
    display: inline;
}

h1 {
    margin: 0px;
}

ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

li {
    display: inline;
}

nav a, .dropbtn {
    padding: 1em;
    text-decoration: none;
    color: white;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
    transition-duration: 0.3s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.ui-widget-header {
    background: red !important;
    margin: 0px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
}

.ui-widget-content {
    background: white;
    border: 1px solid #DDDDDD;
    color: black;
}

#resizable1, #resizable2 { 
    width: 50%;
    height: 50%;
    padding: 0.5em;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: none;
}

div div h3 {
  display: inline;
}

#art1, #art2 {
  border: 1px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  text-align: left;
}

#art1:hover, #art2:hover {
  background-color: lightgray;
  transition: 0.3s;
}

article {
  margin-top: 3em;
}

